@using Application.Services.ProductServices.PDPProduct
@model PDPProductDto


<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <p>@Model.Name</p>
            <h2>@Model.Price.ToString("n0") $</h2>
        </div>
        <div class="col-sm-4">
            @foreach(var i in Model.Images)
            {
                <img src="@i.ImageUrl" style="width:150px;height:150px">
            }
        </div>
        <form asp-action="Index" asp-controller="Basket" method="post">
            <input type="hidden" name="productId" value="@Model.Id" />
            <input type="hidden" name="quantity" value="1" />
            <input type="submit" value="Add To Basket" class="btn btn-warning" />
        </form>
    </div>

    <br /><hr /><br />

    <div class="row">

    </div>
</div>